.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 16px;
  font-family: Arial, serif;
}

.pages {
  width: 100%;
  border: 5px #19b14d solid ;
  font-weight: 400;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-weight: lighter;

}

/*Main that divides nav and content*/
.main {
  display: flex;
}





